:root {
    --text-base: #303030;
    --text-strong: #202020;
    --text-brand: #4fbf70;
    --text-link: blue;
    --block-brand-light: #a4ff94;
    --block-focus: #9cd7ff;
}

body {
    /* font-family: system-ui, sans-serif; */
    font-family: Georgia, sans-serif;
    font-size: 16px;
    color: var(--text-base);
    padding: 0;
    margin: 0 auto;
}

body.homebody {
    background: #e3e3e3;
}

.button-link {
    font-family: Georgia, sans-serif;
    border: 0;
    background: none;
    cursor: pointer;
    color: var(--text-link);
}

.button-link:hover {
    text-decoration: underline;
}

.mainheader {
    display: flex;
    align-items: baseline;
    margin: 0 30px 10px;
}

.mainheader h1 {
    margin-bottom: 0;
}

.mainheader .button-link {
    margin-left: 20px;
}

#description {
    margin: 10px 0;
    padding: 10px 30px;
    background: #f2f2f2;
}

.contentcontainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.contentcontainer iframe {
    width: 60%;
    min-width: 400px;
    flex-grow: 1;
    border: 1px #cecece solid;
    border: 1px #cecece solid;
    border-radius: 12px;
    margin-right: 30px;
    background-color: white;
}

.content-list {
    height: calc(95vh - 80px);
    overflow-y: auto;
    margin-right: 30px;
    padding-top: 5px;
    border: 1px #cecece solid;
    border-left: 0;
    border-radius: 0 15px 15px 0;
    background: #f3f3f3;
}

.content-list h2, .content-list h4 {
    margin: 0.7em 30px 0.5em;
}

.plantlist {
    padding-left: 0;
}

.plantlist li {
    list-style: none;
    padding: 5px 30px;
    transition: background 0.3s ease-in-out;
}

.plantlist li:hover {
    background: var(--block-focus);
}

.latinname {
    font-style: italic;
    font-weight: bold;
}

.plantlink {
    padding-left: 20px;
    cursor: pointer;
    color: var(--text-link);
}

.plantlink:hover {
    text-decoration: underline;
}

.activePlant {
    background: var(--block-brand-light);
}

/* UGH */
#content:not(.contentcontainer) {
    background: white;
    /* nonzero top padding adds bare background */
    /* padding: 0 30px 30px; */
    padding: 5px 30px 5px;
}

.plant-data {
    display: flex;
    flex-direction: row;
    align-items: last baseline;
    flex-wrap: wrap;
    margin: 18px auto;
}

.plant-data .latinname {
    width: 50%;
    margin: 0 auto 10px;
}

.plant-data .familyname {
    width: 50%;
    margin: 0 auto 10px;
}

.plant-data .commonname {
    width: 50%;
    margin: 0;
}

.plant-data .cc-score {
    width: 50%;
}

@media screen and (max-width: 500px) {
    .content-list {
        background-color: tomato;
    }
}
