:root {
    --text-base: #303030;
    --text-strong: #202020;
    --text-brand: #4fbf70;
    --text-link: blue;
    --block-brand-light: #a4ff94;
    --block-focus: #9cd7ff;
}

body {
    /* font-family: system-ui, sans-serif; */
    font-family: Georgia, sans-serif;
    font-size: 16px;
    color: var(--text-base);
    padding: 0;
    margin: 0 auto;
}

body.homebody {
    background: #e3e3e3;
}


.button-link {
    font-family: Georgia, sans-serif;
    border: 0;
    background: none;
    cursor: pointer;
    color: var(--text-link);
}

.button-link:hover {
    text-decoration: underline;
}

.mainheader {
    margin: 0 30px 10px;
}

.mainheader h1 {
    margin-bottom: 0;
}

#description {
    background: #f2f2f2;
}

.contentcontainer {
    display: flex;
}

.plant-container {
    position: relative;
}

.empty-state {
    background: var(--block-focus);
    position: absolute;
    top: 80px;
    right: 60px;
    padding: 30px;
    border-radius: 12px;
}

.plant-frame {
    background-color: white;
}

.content-list {
    background: #f3f3f3;
}

.plantlist {
    padding-left: 0;
}

.plantlist li {
    list-style: none;
    padding: 5px 30px;
    transition: background 0.3s ease-in-out;
}

.plantlist li:hover {
    background: var(--block-focus);
}

.latinname {
    font-style: italic;
    font-weight: bold;
}

.plantlink {
    padding-left: 20px;
    cursor: pointer;
    color: var(--text-link);
    transition: padding-left 0.2s ease-in-out;
}

.plantlink:hover {
    text-decoration: underline;
}

.activePlant {
    background: var(--block-brand-light);
}

/* UGH */
#content:not(.contentcontainer) {
    background: white;
    /* nonzero top padding adds bare background */
    /* padding: 0 30px 30px; */
    padding: 5px 30px 5px;
}

#content img {
    max-width: 100%;
}

@media screen and (min-width: 500px) {
    .mainheader {
        display: flex;
        align-items: baseline;
    }

    .mainheader .button-link {
        margin-left: 20px;
    }

    .mobile-nav {
        display: none;
    }

    .contentcontainer {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    
    #description {
        margin: 10px 0;
        padding: 10px 30px;
    }
    
    .plantlist li:hover .plantlink {
        padding-left: 15px;
    }
    
    .plant-frame {
        width: 60%;
        min-width: 350px;
        margin-right: 30px;
        flex-grow: 1;
        border: 1px #cecece solid;
        border: 1px #cecece solid;
        border-radius: 12px;
    }
    
    .content-list {
        height: calc(95vh - 80px);
        overflow-y: auto;
        border: 1px #cecece solid;
        border-left: 0;
        border-radius: 0 15px 15px 0;
        margin-right: 30px;
        padding-top: 5px;
    }
    
    .content-list h2, .content-list h4 {
        margin: 0.7em 30px 0.5em;
    }

    .plant-data {
        display: flex;
        flex-direction: row;
        align-items: last baseline;
        flex-wrap: wrap;
        margin: 18px auto;
    }

    .plant-data .latinname {
        width: 50%;
        margin: 0 auto 10px;
    }

    .plant-data .familyname {
        width: 50%;
        margin: 0 auto 10px;
    }

    .plant-data .commonname {
        width: 50%;
        margin: 0;
    }

    .plant-data .cc-score {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    body.homebody {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    .mainheader {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .mainheader h1 {
        width: 100%;
        margin-bottom: 15px;
    }

    .mobile-nav {
        display: none;
    }

    .contentcontainer {
        height: inherit;
        overflow-y: auto;
        background: #f3f3f3;
    }

    #description {
        /* margin: 10px 0; */
        padding: 0 30px;
    }

    .content-list h2, .content-list h4 {
        padding: 0 30px;
    }

    .missing {
        padding-bottom: 40px;
    }

    .empty-state {
        display: none;
    }

    .plant-frame {
        display: none;
        flex-grow: 1;
        border: 0;
    }

    .plant-data {
        margin: 0 auto 20px;
    }
}
